head{
text-align: center;
	color: white;
}
body{

	height: auto;
	width: auto;
	overflow: auto;
	text-decoration-color: white;
	position: absolute;
	text-align: center;
}
.text{
	color: white;
	border: medium;
	background-image: url("../images/othercode.png");
}
.ul{
	text-align: left;
	float: left;
}
.fa {
	padding: 10px;
	font-size: 20px;
	width: 40px;
	text-align: center;
	text-decoration: none;
}
.parallax-container {
	height: 100%;
	margin-bottom: 20px;
}
.mind{
	margin-bottom: 4px;
}