head{
text-align: center;
	color: white;
}
body{

	height: auto;
	width: auto;
	overflow: auto;
	text-decoration-color: white;
	position: absolute;
	text-align: center;
}
.text{
	color: white;
	border: medium;
	background-image: url("../images/code.jpg");
}
.ul{
	text-align: left;
	float: left;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}