head{
text-align: center;
	color: white;
}
body{

	height: auto;
	width: auto;
	overflow: auto;
	text-decoration-color: white;
	position: absolute;
	text-align: center;
}
.text{
	color: white;
	border: medium;
	background-image: url("../images/othercode.png");
	background-attachment: fixed;

}
.ul{
	text-align: left;
	float: left;
}
.fa {
	padding: 10px;
	font-size: 20px;
	width: 40px;
	text-align: center;
	text-decoration: none;
}
.media {
	height: 100%;
	margin-bottom: 20px;
}
.mind{
	margin-top: 4px;
	margin-bottom: 6px;
	margin-left: 8px;
}
.submit{
	border-color: green;
}
.card-img-top{
	background-color: black;
}
.card-background{
	background-color: black;
}