RewriteEngine on
RewriteCond %{HTTP_HOST} ^swedsecurity.net$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.swedsecurity.net$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]

## this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://swedsecurity.net/$1 [L]