head{
text-align: center;
	color: antiquewhite;
}
body{
	background-image: url("black.img");
	height: auto;
	width: auto;
	overflow: auto-decoration-color: antiquewhite;
;
	position: absolute;
	text-align: center;
	text
}
.text{
	color: blanchedalmond;
	border: medium;
}
