head{
text-align: center;
	color: antiquewhite;
}
body{
	background-image: url("../images/black.img");
	height: auto;
	width: auto;
	overflow: auto;
	text-decoration-color: antiquewhite;
	position: absolute;
	text-align: center;
}
.text{
	color: blanchedalmond;
	border: medium;
}
