head{
text-align: center;
	color: white;
}
body{
	background-image: url("../images/black.img");
	height: auto;
	width: auto;
	overflow: auto;
	text-decoration-color: white;
	position: absolute;
	text-align: center;
}
.text{
	color: white;
	border: medium;
}
.ul{
	text-align: left;
	float: left;
}